:root {
    --fcolor: #5b4834;
    --scolor: #aaa69d;
}

/* ---------------------------------------------------  Home , Section >>  Categories Style   ---------------------------------------------------------- */

.categories ul {
    list-style: none;
}

.categories ul li {
    background-color: var(--fcolor);
    color: #09c !important;
    padding: 5px;
    margin: 5px 0;
}

.categories ul li a {
    color: #fff;
    text-decoration: none;
}

.categories ul li:hover {
    background-color: var(--scolor);
    transition: all ease-in-out 0.3s;
    /* color: red; */
}
.button-holder a{
    color: #000 !important;
    background-color: transparent ;
    border: 1px solid var(--fcolor);
    /* color: yellow !important; */
}
.button-holder .btns:hover{
    transition: all ease-in-out 0.3s;
    color: #fff !important;
    background-color: var(--fcolor) !important;

}
/* ---------------------------------------------------   Last-Posts Style   ---------------------------------------------------------- */

.last-posts ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.last-posts ul li{
    padding: 10px  10px ;
    margin: 5px 0;
    border-bottom: 1px solid var(--fcolor);
}
.last-posts ul li:first-child{
    border-top: 1px solid var(--fcolor);
}
.last-posts ul li a{
    text-decoration: none;
    color: var(--fcolor);
}

.last-posts ul li a:hover{
    color: vaR(--scolor);
    transition: all ease-in-out 0.3s;
}
.last-posts span:nth-of-type(2){
    padding: 0 5px;
    /* background-color: #5b4834; */
}

/* ---------------------------------------------------    Style   ---------------------------------------------------------- */
/* 
.post-details span i{
    color: #09c !important;
    font-size: 30px !important;
} */